body{
    background-color: rgb(248, 236, 213);
    margin: 5vh 5vw 0;
}

header{
    display: flex;
    
}

img{
    margin-left: 5vh;
}

.line1{
    display: flex;

    margin-left: 30vh;

}
.dev{ 
    
    width: 15vh;
    height: 4vh;
    padding-bottom: 2vh;
    padding: 2px;
    background: rgb(245, 205, 154);
    border:  solid rgb(158, 118, 66);
    border-radius: 2vh;
         
}

.dev h3{

    color:  rgb(116, 75, 21);
    text-align:center;
    position: relative;
    bottom: 1vh;
    transform: translate translateY(-50%);
}
.rig { 

    width: 15vh;
    height: 4vh;
    padding-bottom: 2vh;
    padding: 2px;
    background: rgb(245, 205, 154);
    border:  solid rgb(158, 118, 66);
    margin-left: 2vh;
    border-radius: 2vh;
         
}

.rig h3{

    color:  rgb(116, 75, 21);
    text-align:center;
    position: relative;
    bottom: 0.9vh;
    transform: translate translateY(-50%);
}

.aut{ 
    width: 15vh;
    height: 4vh;
    padding-bottom: 2vh;
    padding: 2px;
    background: rgb(245, 205, 154);
    border:  solid rgb(158, 118, 66);
    margin-left: 2vh;
    border-radius: 2vh;
}


.aut h3{

    color:  rgb(116, 75, 21);
    text-align:center;
    position: relative;
    bottom: 0.9vh;
    transform: translate translateY(-50%);
}
.ouv { 
    width: 15vh;
    height: 4vh;
    padding-bottom: 2vh;
    padding: 2px;
    background: rgb(245, 205, 154);
    border:  solid rgb(158, 118, 66);
    margin-left: 2vh;
    border-radius: 2vh;
}


.ouv h3{

    color:  rgb(116, 75, 21);
    text-align:center;
    position: relative;
    bottom: 0.9vh;
    transform: translate translateY(-50%);
}
.amb{ 
    width: 15vh;
    height: 4vh;
    padding-bottom: 2vh;
    padding: 2px;
    background: rgb(245, 205, 154);
    border:  solid rgb(158, 118, 66);
    margin-left: 2vh;
    border-radius: 2vh;
}


.amb h3{

    color:  rgb(116, 75, 21);
    text-align:center;
    position: relative;
    bottom: 0.9vh;
    transform: translate translateY(-50%);
}
.contact{
    width: 18vh;
    height: 9vh;
    margin-left: 20vh;
    background: rgb(245, 205, 154);
    border:  solid rgb(158, 118, 66);
}

.contact h2{

    color:  rgb(105, 63, 7);
    text-align:center;
    position: relative;
    bottom: 0.7vh;
    transform: translate translateY(-50%);
}
